# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Node Package Deploy

on:
  release:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2.2.0
        with:
          node-version: 15

      - name: Install Dependencies
        run: npm run install:ci

      - name: Test
        run: npm test

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2.2.0
        with:
          node-version: 15
          registry-url: https://registry.npmjs.org/

      - name: Install Dependencies
        run: npm run install:ci

      - name: Set up
        run: |
          npm run package-set-up
          echo //registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN} > .npmrc
        env:
          NODE_PUBLISH_TYPE: npm
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Publish
        run: npm run publish-packages -- --yes

  publish-gpr:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2.2.0
        with:
          node-version: 15
          registry-url: https://npm.pkg.github.com/

      - name: Install Dependencies
        run: npm run install:ci

      - name: Set up
        run: |
          npm run package-set-up
          echo //npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN} > .npmrc
        env:
          NODE_PUBLISH_TYPE: gh-packages
          NODE_AUTH_TOKEN: ${{secrets.GH_PAT}}

      - name: Publish
        run: npm run publish-packages -- --registry https://npm.pkg.github.com/ --yes
